<html>
    <header>
    <title>ParentsSay</title>
</header>
<body>
    <h1>Say Something To Your Baby</h1>

    <form method="POST">
        <textarea name="parents_content" id="id_new_entry" rows="8" cols="40"
            placeholder="输入你想对宝宝说的话">
        </textarea>
        <input type="submit" name="submit" id="id_submit" value="提交" />
        {% csrf_token %}
    </form>

    <table id="id_entry_list">
        {% for entry in entries %}
        <tr>
            <td>{{ entry.what }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>
