<html>
    <header>
    <title>ParentsSay</title>
</header>
<body>
    <h1>Say Something To Your Baby</h1>

    <form method="POST">
        <textarea name="parents_content" id="id_new_content" rows="8" cols="40"
            placeholder="输入你想对宝宝说的话">
        </textarea>
        <select id="id_role" name="role">
            <option value="父">父</option>
            <option value="母">母</option>
        </select>
        @
        <input name="baby_name" type="text" id="id_child_name" placeholder="输入宝宝的用户名">
        {% csrf_token %}
    </form>

    <table id="id_content_list">
        <tr>
            <td>{{ new_content_text }}</td>
        </tr>
    </table>

</body>

</html>
